<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./footer.component.css">
</head>
<body>
  <footer class="bg-custom text-light py-4"> <!-- Cambié bg-dark por bg-custom -->
    <div class="container">
      <div class="d-flex justify-content-center align-items-center">
        <!-- Follow Us with clickable images -->
        <div class="d-flex justify-content-center">
          <a href="/login" class="me-3">
            <img src="/images/img.png" alt="Image 1" class="img-fluid mb-2" style="max-width: 150px; cursor: pointer;">
          </a>
          <a href="/login" class="me-3">
            <img src="/" alt="Image 2" class="img-fluid mb-2" style="max-width: 150px; cursor: pointer;">
          </a>
          <a href="/login">
            <img src="/images/email.png" alt="Image 3" class="img-fluid mb-2" style="max-width: 150px; cursor: pointer;">
          </a>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
