<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./app.component.css">
</head>
<body>

  <div class="app-container">

    <!-- Incluir el Header -->
    <app-header></app-header>
  
    <!-- Contenido principal -->
    <div class="content">
      <router-outlet></router-outlet> <!-- Aquí se cargan las rutas -->
    </div>
  
    <!-- Incluir el Footer -->
    <app-footer></app-footer>
    
  </div>
  
</body>
</html>